@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%;
}

.box-active {
  background-color: #F7F7F7;
}

.box-active::before,
.box-active::after {
  content: "";
  width: 20px;
  height: 20px;
  right: 0;
  position: absolute;
}

.box-active::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="rgb(247, 247, 247)" d="M0 0 Q20 0 20 20 L20 0Z" /></svg>');
  bottom: -20px;
}

.box-active::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="rgb(247, 247, 247)" d="M0 20 Q20 20 20 0 L20 20Z" /></svg>');
  top: -20px;
}

.toggle {
  position: absolute;
  border: solid 0 transparent;
  transform: rotate(90deg);
  background: #F7F7F7;
  cursor: pointer;
}

.toggle:before {
  right: 100%;
  border-radius: 13% 0 0 0;
  transform: skewX(-15deg) translate(25%);
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 2em;
  background: inherit;
  content: '';
}

.toggle:after {
  left: 100%;
  border-radius: 0 13% 0 0;
  transform: skewX(15deg) translate(-25%);
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 2em;
  background: inherit;
  content: '';
}